.xy-dialog__wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
    z-index: 2001;
    background-color: rgba(0,0,0,.5);

    .xy-dialog{
        position: relative;
        margin: 15vh auto 50px;
        
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(66, 65, 65, 0.3);
        box-sizing: border-box;
        width:30%;
        &__header{
            padding: 10px 20px 10px 10px;
            .xy-dialog__title{
                line-height: 24px;
                font-size: 16px;
                color: #303133;
            }
            .xy-dialog__headerbtn{
                position: absolute;
                top: 20px;
                right: 20px;
                padding: 0;
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 16px;
                .xy-dialog-close{
                    color: #909399;
                }

            }
        }
        &__body{
            padding: 10px 20px 20px 20px;
            color: #606266;
            font-size: 15px;
            word-break: break-all;
        }
        &__footer{
            padding: 10px 20px 20px;
            text-align: right;
            box-sizing: border-box;
            ::v-deep .xy-button:first-child{
                margin-right: 20px;
            }
        }
    }
}

// 对话框出现消失的动画效果
.dialog-fade-enter-active{
    animation: fade .3s ;
}
.dialog-fade-leave-active{
    animation: fade .3s reverse;
}
@keyframes fade{
    0%{
        opacity: 0;
        transform: translate(-10px);
    }
    100%{
        opacity: 1;
    }
}